@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl w-full mx-auto px-3;
}
.bg-footer,
.bg-head {
  background-color: #0f3460;
}

.text-tomato {
  color: #f45867;
}

.bg-tomato {
  background-color: #f45867;
}
